{% extends "base.html" %}
{% load humanize %}
{% load customfilter %}

{% block pageContent %}

<!-- Section: Content -->
<section class="my-5">
    <h2 class="fw-bolder text-primary">Welcome, {{request.user.first_name}}&nbsp;{{request.user.last_name}}!</h2>
    <hr class="my-4">
    <div class="row justify-content-center">

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card card-custom rounded-3 shadow bg-primary border-0 text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-th-list"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{categories|intcomma}}</h1>
                            </div>
                            <div class="col-12 text-end"><b>Active Categories</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card card-custom rounded-3 shadow bg-dark text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-list"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{sub_categories|intcomma}}</h1>
                            </div>
                            <div class="col-12 text-end"><b>Active Sub Categories</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card card-custom rounded-3 shadow bg-success text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-user-friends"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{students|intcomma}}</h1>
                            </div>
                            <div class="col-12 text-end"><b>Active Students</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card card-custom rounded-3 shadow bg-warning text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-book"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{books|intcomma}}</h1>
                            </div>
                            <div class="col-12 text-end"><b>Active Books</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card card-custom rounded-3 shadow bg-secondary text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-book-open"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{pending|intcomma}}</h1>
                            </div>
                            <div class="col-12 text-end"><b>Pending Transactions</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card card-custom rounded-3 shadow bg-dark text-light">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row mx-0 w-100 align-items-center">
                            <div class="col-3">
                                <i class="fs-1 text-light fa fa-book-open"></i>
                            </div>
                            <div class="col-9">
                                <h1 class="text-end">{{transactions|intcomma}}</h1>
                            </div>
                            <div class="col-12 text-end"><b>Total Transactions</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
</div>

{% endblock pageContent %}

{% block ScriptBlock %}
<script>
    // Add any custom scripts if needed
</script>
{% endblock ScriptBlock %}
